<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <% if (user) { %>
        <a href="/students/new">Add Student to list</a>
        <a href="/lessons">Lessons</a>
        <div class="user-info">
          <div class="user"><img src="<%= user.avatar %>" alt="avatar"></div>
          <%= user.name.split(' ')[0] %>
        </div>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/">Home</a>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
    <div class="info">
    <h1 class="title"><%= title %></h1>