<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>curriculum</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        <% lessons.forEach(function(l) { %>
            <tr>
                <td><%= l.curriculum %></td>
                <td><%= l.date %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<a href="lessons/new"><button>Add Lesson</button></a>

<%- include('../partials/footer') %>