<%- include('../partials/header') %>

<form class="lesson-form" action="/lessons" method="POST">
    <label class="a">Curriculum:</label>
    <textarea class="a-b" name="curriculum"></textarea>
    <label class="b">Rounds:</label>
    <select class="b-b" name="rounds">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <label class="c">Time Per Round:</label>
    <select class="c-b" name="timerounds">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <label class="d">Date of Class:</label>
    <input class="d-b" name="date" type="date">
    <input class="e" class="button" type="submit" value="Add Lesson">
</form>

<%- include('../partials/footer') %>