<%- include('../partials/header') %>

<form class="new-student" id="add-student-form" action="/students" method="POST">
    <label class="a">Name:</label>
    <input class="a-b" type="text" name="name">
    <label class="b">Belt:</label>
    <input class="b-b" type="text" name="belt">
    <label class="c">Stripes:</label>
    <input class="c-b" type="number" name="stripes">
    <input name="d" class="button" type="submit" value="Add Student">
</form>
    
<%- include('../partials/footer') %>